.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Exo 2', sans-serif;

}

h1{
    font-size: 48px;
    margin-bottom: 30px;  
}

form{
    display: flex;
    margin-bottom: 35px;  
}
body {
    background-color: rgb(52, 152, 219);
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(246,246,246);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: slide-in 1s ease-out;
  }
  @keyframes slide-in {
    from {
        top: -100%;
    }
    to {
        top: 50%;
    }
  }

  input {
    border-radius: 5px;
    border:none;
    padding: 15px;
    width: 200px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .clouds{
    height: 450px;
    width: 1200px;
    background-image: url("cloud2.png");
    background-repeat: repeat-x;
    animation: cloudMove 20s linear infinite;

  }

  @keyframes cloudMove {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);

    }
  }

  
