#plusButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  #minusButton {
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
  }